body {
            margin: 0;
            padding: 0;
            background-color: #f5efef;
            color: #333;
            font-family: "EB Garamond", serif;
            font-style: italic;
            overflow-x: hidden;
        }

        h1 {
            font-family: "EB Garamond", serif;
            font-optical-sizing: auto;
            font-weight: 500; 
            font-style: normal;
            font-variant-caps: small-caps;
            letter-spacing: 3px;
            font-size: 36px;
            margin-bottom: 10px;
        }
        p {
            font-size: 25px;
            line-height: 1.5;
            margin-top: 0;
        }
        header {
            background-color: #f7f7f7;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 1rem 75px;
            box-sizing: border-box;
        }
        .logo img {
            width: 500px;
            height: auto;
        }
        nav ul {
            list-style: none;
            display: flex;
            gap: 30px;
            margin: 0;
            padding: 0px;
        }
        nav a {
            text-decoration: none;
            color:#333;
            font-family: "EB Garamond", serif;
            font-style: normal;
            font-weight: 500;
            font-size: 1.25rem;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        nav a:hover {
            opacity: 0.5;
        }
        section {
            width:100%;
            box-sizing: border-box;
        }
        .section-inner {
            max-width: 1400px;
            margin: 0 auto;
            padding: 0 80px;
        }
        .hero {
            padding: 100px 0px;
            background-color: #f5efef;
        }
        .hero-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 150px;
        }
        .hero-content {
            width: 65%;
            line-height: 1.8;

        }
        .hero-image img {
            width: 250px;
            height: auto;
        }
        .divider-line {
            border-top: 1px solid #c2c1c1;
            width: 70%;
            max-width: 70%;
            margin: 0 auto 20px auto;

        }
        .about h2 {
            font-size: 36px;
            margin-top: 10px;
            margin-bottom: 60px;
        }
        .about {
            background-color: #f7f7f7;
            padding: 100px 0px;
        }
    
        .about-wrapper {
            display: flex;
            gap: 40px;
            align-items: flex-start;
            margin-bottom: 50px;
        }
        .about-img {
            width: 280px;
            height: auto;
            flex-shrink: 0;
            margin-right: 30px;
        }
        .about-content {
            flex: 1;
            max-width: 950px;
            margin: auto 0;
        }
        .about-content p {
            margin-top: 0;
            font-style: normal;
            font-size: 18px;
            text-align: justify;
            line-height: 1.6;
        }
        .drop-caps {
            font-variant-caps: small-caps;
            font-style: italic;
            font-size: 20px;
            letter-spacing: 1px;
        }
        .about-content blockquote {
            margin: 0px;
            border-left: 2px solid #aeaeae;
            padding-left: 20px;
        }
        .about-quote {
            font-style: italic;
            font-size: 20px;
            margin: 20px 10px;
            text-align: justify;
        }
        .about-lists {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            padding-top: 30px;
        }
        .list-column {
            flex: 1;
        }
        .list-column h3 {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-style: italic;
            font-weight: 600;
            font-size: 18px;
            text-align: left;
            margin-bottom: 18px;
        }
        .list-column ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .list-column li {
            font-size: 18px;
            font-style: italic;
            margin-bottom: 8px;
        }
        h2 {
            margin-top: 0;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
            font-family: "EB Garamond", serif;
            font-weight: 500; 
            font-style: normal;
            font-variant-caps: small-caps;
            letter-spacing: 3px;
            font-size: 30px;
        }
        h3 {
            margin-top: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 10px;
            text-align: left;
            font-family: "EB Garamond", serif;
            font-weight: 500; 
            font-style: italic;
            font-size: 22px;
        }
        .featured {
            background: #ffff; 
            padding-top: 40px;
            padding-bottom: 120px;
        }
        .featured blockquote {
            text-align: center;
            font-size: 20px;
        }
        cite {
            font-variant-caps: small-caps;
            font-style: italic;
            font-size: 18px;
        }
        .gallery {
            padding-top: 40px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
            width: 100%;
            margin: 0 auto;
        }
        .image-box {
            text-align: center;
        }
        .image-box img {
            width: 100%;
            height: auto;
            display: block;
            transition: 0.3s;
        }
        .image-box p {
            text-align: left;
            text-align: justify;
            font-size: 14px;
            font-style: normal;
        }
        footer {
            background: #f5efef;
            padding: 30px 80px 10px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        footer ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        footer li {
            margin-bottom: 15px;

        }
        footer a {
            text-decoration: none;
            color:#6b6b6b;
            font-family: "EB Garamond", serif;
            font-style: normal;
            font-weight: 500;
            font-size: 1.15rem;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        footer a:hover {
            opacity: 0.5;
        }
        .copyright {
            width: 100%;
            text-align: center;
            font-size: 18px;
        }