 body {
        margin: 0px;
        padding: 0px;
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        line-height: 1.7rem;
        color: #869fa3;
        background-color: #2f4248;   
    }
    .content-wrapper {
         margin: 0 10%;
    }
    
    h2 {
        color: #ecc36d;
        font-family: "Fraunces", serif;
        text-align: center;
        letter-spacing: 2.1px;
        font-weight: 350;
        font-size: 1.6rem;
        font-variant-caps: small-caps;
    }


.main-layout {
    display: flex;
    align-items: flex-start;
    gap: 85px;
    margin-top: 120px;
    margin-bottom: 80px;
}
.image-container {
    flex: 0 0 400px;
    padding-top: 40px;
}
.image-container img {
    width: 100%;
    height: auto;
    display: block;
    filter: drop-shadow(0 10px 20px rgba(0,0,0,0.3));
}
.text-content-column {
    flex: 1;
}
.section-block {
    margin-bottom: 35px;

}
.section-block:last-of-type {
    border-bottom: none;
}
.section-block h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 12px;
    border-bottom: 2px solid rgb(98, 119, 124);
    padding-bottom: 10px;
}
.section-block p {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-weight: 400;
    color: #869fa3;
    text-align: justify;

}
p.location {
    text-align: center;
}
.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1.5rem;
}
.button-container img {
    max-width: 250px;
    border: 1px solid #fdf3e7;
    background-color: transparent;
    border-radius: 12px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}
.button-container img:hover {
    box-shadow: 0 0 20px 2px rgba(255, 170, 51, 0.45);
}
