* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Libre Baskerville", serif ;
    color: #7e9db9;
    background-color: #f9f9f7;
}

.main-header {
    background-color: #f9f9f7;
    padding: 1.7rem 2rem 3rem;
    border-bottom: none;
}
.main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 3.5rem 0;
    display: flex;
    justify-content: center;
    gap: 10rem;
    border-bottom: 1px solid #7e9db9;
    padding-bottom: 1.5rem;
}
.main-nav a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #7e9db9;
    text-transform: uppercase;
    font-size: 0.97rem;
    letter-spacing: 2px;
    font-weight: 500;
    letter-spacing: 1.5px;
    display: inline-block;
    transition: font-weight 0.1s ease, color 0.1s ease;
}
.main-nav a:hover {
    font-weight: 600;
    color: #5b809a;
}
.main-logo {
    max-width: 260px;
    height: auto;
    display: block;
    margin: 2rem auto 0 auto;
}
.main-footer {
    background-color: #f9f9f7;
    padding: 3rem 2rem 0rem;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left ul,
.footer-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 5rem;
    align-items: center;
    margin-top: -1.5rem;
}
.footer-container a {
    text-decoration: none;
    color: #7e9db9;
    font-size: .96rem;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1.5px;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: background-color 0.2s ease;
}
.footer-container a:hover {
    background-color: #e5ebee;
}
.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 0;
}
.footer-logo {
    max-width: 90px;
    height: auto;
    display: block;
}
.copyright {
    font-size: .95rem;
    font-family: "EB Garamond", serif;
    font-style: italic;
    color: #7e9db9;
    margin-top: 2rem;
    letter-spacing: 0.5px;
    white-space: nowrap;
}
.attribution {
    font-variant-caps: small-caps;
    font-style: italic;
}

@media screen and (max-width: 768px) {
    .main-nav ul {
        flex-wrap: wrap;
        gap: 1.5rem 2.5rem;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .main-logo {
        max-width: 240px;
    }
    .footer-container {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    .footer-center {
        margin: 0;
        order: 2;
    }
    .footer-logo {
        max-width: 70px;
        margin: 0 auto;
    }
    .footer-left {
        order: 1;
        width: 100%;

    }
    .footer-right {
        order: 1;
        width: 100%;
    }

    .footer-left ul,
    .footer-right ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 0;
    }
    .copyright {
        order: 3;
        font-size: 0.85rem;
        margin-top: 1rem;
    }
}
